<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Account_module.LoginControl</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfo</servlet-name>
        <servlet-class>Account_module.UpdateInfo</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/JSP/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>Account_module.LogoutControl</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/JSP/LogoutControl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>Account_module.RegisterControl</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterControl</servlet-name>
        <url-pattern>/JSP/RegisterControl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPasswordControl</servlet-name>
        <servlet-class>Account_module.ResetPasswordControl</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordControl</servlet-name>
        <url-pattern>/JSP/ResetPasswordControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfo</servlet-name>
        <url-pattern>/JSP/UpdateInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
